@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Master styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292c34;
    font-family: "Montserrat", sans-serif;
}

.nav-wrapper {
    padding: 38px;
    display: flex;
    justify-content: flex-end;
    /* lines up text with button */
    align-items: center;
    background-color: whitesmoke;
}

.nav-wrapper > div {
    padding-right: 20px;
}

.nav-left {
    display: flex;
    text-transform: uppercase;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.nav-left > div {
    margin-right: 30px;
    cursor: default;
}

.nav-right {
    display: flex;
}

.data-container {
    width: 600px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}

.bar {
	width: 28px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: salmon;
	transition: 0.2s all ease;
}

.bar_id {
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
    color: white
}

.algo-wrapper {
    display: flex;
    justify-content: space-around;
}

.algo-type-wrapper {
    transition: all .5s ease 0s;
}



button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 9px 25px;
    margin-right: 20px;
    background-color: salmon;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease 0s;
}

button:hover {
    color: salmon;
    opacity: 80;
}

/* no need to repeat attributes from button */
.algo-button {
    padding: 0 0;
    background-color: transparent;
}

.algo-button:focus {
    color: salmon;
}